.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fcs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.fce {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.fsc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fss {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.fse {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.fec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fes {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.fee {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 1rem;
  color: #9e9e9e;
  font-weight: 400;
  font-family: Poppins, sans-serif;
}

.quill .ql-container .ql-editor:focus {
  outline: none; /* Remove the default outline */
  border: 2px solid #1976d2; /* Change border color on focus */
  /* font-size: 1rem; */
  color: #212121;
  /* font-weight: 400; */
  font-family: Poppins, sans-serif;
}

.ql-container {
  border: 1px solid #757575 !important; /*Adjust width and color*/
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ql-toolbar {
  border: 1px solid #757575 !important; /*Adjust width and color*/
  border-bottom: none !important; /*Avoid double border*/
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
